body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

 :root {
    --color-basic: #FFFFFF;
    --color-clacik: #C7C7C7;
    --color-hero: #DCDCDC;
    --color-adventeges: #D8D8D8;
    --color-reviews: #959595;
    --color-order: #8D8D8D;
    --color-footer: #012D63;
    --color-box: #8E32C6;
    --color-container: #021635;
    --color-hr: #9B9B9B;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0px;
    padding: 0px;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: var(--color-container);
}

.menu-link {
    color: var(--color-clacik);
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.menu-link:focus,
.menu-link:hover {
    color: var(--color-basic);
}

.logo {
    width: 100px;
    display: block;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.hero {
    align-items: center;
    display: flex;
    width: 1440px;
    height: 858px;
    background-image: url(../img/img8.png);
}

.hero-title {
    color: var(--color-basic);
    font-family: "Playfair Display", sans-serif;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-title-h2 {
    color: var(--color-basic);
    font-family: "Playfair Display", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-text {
    color: var(--color-basic);
    /* font-family: Roboto; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-btn {
    border-radius: 10px;
    background: var(--color-box);
}

.advantages {
    align-items: center;
    display: flex;
    width: 1440px;
    height: 606px;
    background-image: url(../img/img6.png);
}

.advantages-list {
    border: 5px solid var(--color-box);
    display: flex;
    /* flex-direction: column; */
}

.advantages-title {
    flex-direction: column;
    display: flex;
    /* text-align: center; */
    width: 159px;
    color: var(--color-basic);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.advantages-hr {
    height: 346px;
    background: var(--color-basic);
}

.advantages>.logo {
    width: 243px;
    height: 243px;
}

.reviews {
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    padding-bottom: 124px;
    padding-top: 24px;
    width: 1440px;
    /* height: 520px; */
    background-image: url(../img/img7.png);
}

.reviews-item1 {
    padding: 49px 14px 29px 14px;
    max-width: 255px;
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}

.reviews-item2 {
    max-width: 255px;
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}

.reviews-item3 {
    padding: 49px 14px 29px 14px;
    max-width: 255px;
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
}

.reviews-title {
    color: var(--color-basic);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews-text {
    margin-bottom: 8px;
    color: var(--color-basic);
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.span {
    display: flex;
    margin-bottom: 48px;
    color: var(--color-adventeges);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews-name {
    width: 99px;
    color: var(--color-basic);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews-data {
    color: var(--color-adventeges);
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order {
    align-items: center;
    display: flex;
    width: 1440px;
    height: 509px;
    background-image: url(../img/img5.png);
}

.order-title {
    color: var(--color-basic);
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-input {
    border-radius: 50px;
    background: var(--color-basic);
}

.form-btn {
    border-radius: 16px;
    background: var(--color-box);
}

.item {
    color: var(--color-basic);
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    align-items: center;
    display: flex;
    width: 1440px;
    height: 292px;
    background-color: var(--color-container);
}

.footer-cnt1 {
    margin-left: 940px;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.footer-cnt2 {
    margin-left: 892px;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.footer-cnt3 {
    margin-left: 902px;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.footer-year {
    color: var(--color-basic);
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-country {
    color: var(--color-basic);
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-hr {
    background: var(--color-hr);
}

.footer-logo {
    width: 108px;
    height: 81px;
    background: url(../img/img1.png);
}